<header class="entete">
  <img src="./assets/img/hader_img.jpg">
</header>

<div class="container__blog-titre">
  <h1 class="blog__titre">Sur cette page, vous pouvez créer tous les blogs que vous voulez !</h1>
</div>



<!-- <input type="text" [(ngModel)]="palabraClave" placeholder="Buscar...">
<button (click)="filtrarNoticias()">Buscar</button>
@for(noticia of filtrarNoticias(); track noticia){
 <div></div>
} -->

<div class="wrapper">

  <div class="container__contient--blog">

    <div class="blog__container--formulaire">

      <form class="container__formulaire" (submit)="ajouterBlog()">
        <h2 class="container__formulaire--titre">Ajouter un blog</h2>
        <label>Titre:</label><br>
        <input type="text" [(ngModel)]="nouveauBlog.titre" name="titre"><br>
        <label>Auteur/e:</label><br>
        <input type="text" [(ngModel)]="nouveauBlog.auteur" name="auteur"><br>
        <label>URL de l'image':</label><br>
        <input type="text" [(ngModel)]="nouveauBlog.imageUrl" name="image"><br>
        <label>Texte:</label><br>
        <textarea [(ngModel)]="nouveauBlog.text" name="text"></textarea><br>
        <button class="bouton__publier" type="submit">Publier</button>
      </form>
      
      

      <!-- 
        <input class="recherche" type="text" [(ngModel)]="keyWord" placeholder="Rechercher un blog"
        (input)="actualiserSuggestions()">
      <ul class="suggestion-length" *ngIf="suggestions.length > 0">
        <li class="suggestion-suggestion" *ngFor="let suggestions of suggestions" (click)="selectionnerSuggestion(suggestions)">{{ suggestions }}</li>
      </ul>
      -->

      <div *ngIf="blogSelectionne">
        <div>
          <h2 class="blog__titre">{{ blogSelectionne.titre }}</h2>
          <p class="blog__text">{{ blogSelectionne.text }}</p>
          <p class="blog__recherche-auteur">{{ blogSelectionne.auteur }}</p>
        </div>
      </div>
    </div>




    <div class="blog__container--blogs">
      <h2 class="container--blogs__titre">Blogs</h2>
      @for(blog of blogs; track blog){
      <div class="container__blogs">
        <h3 class="blog__titre">{{ blog.titre }}</h3>

        <h3 class="blog__titre">{{ blog.id }}</h3>

        <div class="contenedor__noticia-imagen">
          <img class="blogs__img" [src]="blog.imageUrl" alt="{{ blog.titre }}">
          <p class="blog__text">{{ blog.text }}</p>
          <p class="blog__ajouterExempleBlo">{{ blog.auteur }}</p>
        </div>
        <div class="container__date-bouton">
          <p class="blog__date">Date de publication: {{ blog.date }}</p>
          <button class="blog__bouton-supprimer" (click)="supprimerBlog(blog.id)">Supprimer</button>
        </div>
      </div>
      }
    </div>
    

  </div>
</div>
